.nav-link{
    background-color: transparent;
    border: 3px solid white;
    justify-content: center;
    align-items: center;
    color: blue;
    display: flex;
    margin-left: 10px; /* gap between items */
    font-size: 20px;
    text-decoration: none;
}
.nav-link:hover{
    background: #fff;
    color: red;
    transition: 1s;
}

body {
    margin: 0;
    background-color: aliceblue;
    background-size: cover;   /* Makes the image cover the full screen */
    background-position: center; /* Keeps image centered */
    background-repeat: no-repeat; /* Prevents tiling */
    height: 100vh;  /* Ensures body takes full viewport height */
    width: 100vw;   /* Ensures body takes full viewport width */
}
.container-fluid {
    background-color: transparent;
    display: flex;
    justify-content: flex-end; /* Pushes all items to the extreme right */
    align-items: center;
    padding: 10px;
}

span{

}